.container {
    max-width: 700px;
}

.headerContainer {
    margin-bottom: 12px;
}

.weekContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.dayOutContainer {
    list-style: none;
}
